:root {
  --white: hsl(0, 0%, 100%);
  --blue: hsl(246, 80%, 60%);
  --softBluePlay: hsl(195, 74%, 62%);
  --lightRedWork: hsl(15, 100%, 70%);
  --lightRedStudy: hsl(348, 100%, 68%);
  --limeGreenExercise: hsl(145, 58%, 55%);
  --violetSocial: hsl(264, 64%, 52%);
  --softOrangeSelfcare: hsl(43, 84%, 65%);

  --veryDarkBlue: hsl(226, 43%, 10%);
  --darkBlue: hsl(235, 46%, 20%);
  --desaturatedBlue: hsl(235, 45%, 61%);
  --paleBlue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  background-color: var(--veryDarkBlue);
}

.main {
  width: min(100%, 1440px);
  min-height: 100vh;
  padding: 3rem 1.5rem;
  color: var(--white);
}

.control__card {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--darkBlue);
  border-radius: 1rem;
}

.control__head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--blue);
}

.control__head img {
  width: 70px;
  border: 3px solid var(--white);
  border-radius: 50%;
}

.control__info h3 {
  font-weight: 300;
  font-size: 24px;
}

.control__info p {
  font-weight: 300;
  font-size: 15px;
  color: var(--paleBlue);
}

.control__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem 1rem;
  margin-left: 7px;
}

.nav__item {
  font-size: 18px;
  text-decoration: none;
  color: var(--desaturatedBlue);
  cursor: pointer;
}

.nav__item.active {
  color: var(--white);
}

.card {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--darkBlue);
  position: relative;
}

.card__banner {
  position: absolute;
  top: -42px;
  left: 0;
  right: 0;
  display: flex;
  padding-right: 1rem;
  border-radius: 1rem;
  background-position: right;
  z-index: -1;
}

.work .card__banner {
  background-color: var(--lightRedWork);
}

.play .card__banner {
  background-color: var(--softBluePlay);
}

.study .card__banner {
  background-color: var(--lightRedStudy);
}

.exercise .card__banner {
  background-color: var(--limeGreenExercise);
}

.social .card__banner {
  background-color: var(--violetSocial);
}

.self-care .card__banner {
  background-color: var(--softOrangeSelfcare);
}

.card__banner img {
  margin-left: auto;
}

.card__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1.5rem;
}

.card__stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

.stats__name {
  font-size: 18px;
  font-weight: 500;
}

.stats__hours {
  font-size: 2rem;
  font-weight: 300;
}

.card__prev {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.7rem;
}

.card__ellipsis {
  align-self: flex-end;
}

.prev__stats {
  font-size: 15px;
  color: var(--paleBlue);
}
